*{
    margin: 0;
    padding: 0;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#c37aee),url(images/citylights.jpg);
    background-size: cover;
    background-position: center ;
    height: 100vh;
}
.logo{
    width: 200px;
    position: absolute;
    top: 2%;
    left: 5%;
}
.banner-text{
    text-align: center;
    color:rgb(255, 255, 255);
    padding-top: 180px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 20px;
}
.banner-text h1{
    font-size: 40px;
    font-style: italic ;
    text-decoration: underline;
}
.banner-text p{
    font-size: 40px;
    font-family: 'Ballet', cursive;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    font-family: 'Ballet', cursive; 
}
.banner-btn a:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}
@media screen and (max-width:770px){
    .banner-text{
        text-align: center;
        color:rgb(255, 255, 255);
        padding-top: 180px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 80px;
    }
    .banner-text h1{
        font-size: 30px;
    }
    .banner-text p{
        font-size: 20px;
    }
}
