*{
    margin: 0;
    padding: 0;
}
#banner{
    background:linear-gradient(rgba(0,0,0,0.5),#b854f1), url(images/villa.jpg);
    background-size: cover;
    background-position: center ;
    height: 100vh;
}
.logo{
    width: 200px;
    position: absolute;
    top: 2%;
    left: 5%;
}
.banner-text{
    text-align: center;
    color:#000;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 40px;
}
.contact{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
form{
    margin: 30px;
}
.inputfield{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
    
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #000;
    border: .5px solid #000;
    font-family: 'Ballet', cursive; 
}
.banner-btn a:hover{
    background-color:#000;
    color: #fff;
    transition: 0.5s;
}
